body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Calfine";
  src: local("Calfine"),
   url("./assets/fonts/Calfine/Calfine-font.otf") format("opentype");
  font-weight: bold;
  }

  @font-face {
    font-family: "Newake";
    src: local("Newake"),
     url("./assets/fonts/Newake/newake-demo-400.otf") format("opentype");
    font-weight: bold;
    }